<div id="contentContainer">
  <div id="videoContainer">
    <div id="videoDescription" class="container">
      <div class="row header">
      {{#bs-dropdown as |dd|}}
        {{#dd.button}}{{fa-icon "bars"}}{{/dd.button}}
        {{#dd.menu as |menu|}}
          <a class="dropdown-item"><i class="youtube-icon"></i><span>Демократические институты: Выборы</span></a>
          <a class="dropdown-item"><i class="youtube-icon"></i><span>Демократические институты: СМИ</span></a>
          <a class="dropdown-item"><i class="youtube-icon"></i><span>Демократические институты: Митинги</span></a>
          <a class="dropdown-item"><i class="youtube-icon"></i><span>Экономика. Нефть</span></a>
          <a class="dropdown-item"><i class="youtube-icon"></i><span>Экономика. Госмонополизм<</span></a>
          <a class="dropdown-item"><i class="youtube-icon"></i><span>Здравоохранение</span></a>
        {{/dd.menu}}
      {{/bs-dropdown}}
        <span class="name">{{playlist.name}}</span>
        <span class="timetotal"><i class="far fa-clock"></i> {{minutes-string playlist.totalMinutes}}</span>
      </div>
      <div class="row content">
        <div class="summary col-8" style="padding: 0 5px">
          {{playlist.description}}
        </div>
        <div class="col-4" style="padding: 0 5px">
        {{#bs-carousel 
          nextControlIcon='fas fa-caret-right'
          prevControlIcon='fas fa-caret-left'
          currentIndex = currentVideoRangeIndex
          index = videoRangeIndex
          wrap=false
          autoPlay=false
          interval=-1
          showIndicators=false
          as |car|}}
          {{#each playlist.videoRanges as |videoRange|}}
            {{#car.slide}}
              <div class="car-item">
                <a href="https://www.youtube.com/channel/{{videoRange.video.channel.youtubeId}}" target="_blank">
                  <img src={{videoRange.video.channel.logoUrl}} width="30" title={{videoRange.video.channel.name}}>
                </a>
                <div class="range-length"> {{minutes-string videoRange.minutes}}</div>
                {{#if videoRange.showResumeButton}}
                  <a class="resume-video" {{action "resumeVideoRange"}} href="#">Вернуться на <span>{{videoRange.positionTime}}</span></a>
                {{else}}
                  {{#bs-progress as |p|}}
                    {{p.bar value=videoRange.position minValue=videoRange.from maxValue=videoRange.to showLabel=false type="danger" striped=false animate=true}}
                  {{/bs-progress}}
                {{/if}}
              </div>
            {{/car.slide}}
          {{/each}}
        {{/bs-carousel}}
        
        </div>
      </div>
    </div>
    <div id="containingBlock">
      <div class="videoWrapper">
        <div id="player"></div>
        <div id="playerOverlay">
          <div class="back"></div>
          <div class="content">
            {{#if videoRange.speaker}}
              <div class="block speaker">
                {{videoRange.speaker}}
              </div>
            {{/if}}
            <div class="block description">
              {{videoRange.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="loaderContainer">
      <div class="cssload-loader">
        <div class="cssload-flipper">
          <div class="cssload-front"></div>
          <div class="cssload-back"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="navigation">
    {{#bs-button onClick=(action "nextPlaylist") type="primary"}}
     {{fa-icon "step-forward"}} перейти к следующей теме
    {{/bs-button}}
  </div>
</div>