<div class="container">
    <div class="row content">
      <div class="summary col-12 col-md-8 " style="padding: 0 5px">
        {{playlist.description}}
      </div>
      <div class="col-12 col-md-4" style="padding: 0 5px">
        {{#bs-carousel 
          nextControlIcon='fas fa-caret-right'
          prevControlIcon='fas fa-caret-left'
          currentIndex = currentVideoRangeIndex
          index = videoRangeIndex
          wrap=false
          autoPlay=false
          interval=-1
          showIndicators=false
          as |car|}}
          {{#each playlist.videoRanges as |videoRange|}}
            {{#car.slide}}
              <div class="car-item">
                <a href="https://www.youtube.com/{{videoRange.video.channel.youtubeId}}" target="_blank">
                  <img src={{videoRange.video.channel.logoUrl}} width="30" title={{videoRange.video.channel.name}}>
                </a>
                <div class="range-length"> {{minutes-string videoRange.minutes}}</div>
                {{#if videoRange.showResumeButton}}
                  <a class="resume-video" {{action "resumeVideoRange"}} href="#">Вернуться на <span>{{videoRange.positionTime}}</span></a>
                {{else}}
                  {{#bs-progress as |p|}}
                    {{p.bar value=videoRange.position minValue=videoRange.from maxValue=videoRange.to showLabel=false type="danger" striped=false animate=true}}
                  {{/bs-progress}}
                {{/if}}
              </div>
            {{/car.slide}}
          {{/each}}
        {{/bs-carousel}}
      </div>
  </div>
</div>
<div id="containingBlock">
  <div class="videoWrapper">
    <div id="player"></div>
    <div id="playerOverlay">
      <div class="back"></div>
      <div class="content">
        {{#if videoRange.speaker}}
          <div class="block speaker">
            {{videoRange.speaker}}
          </div>
        {{/if}}
        <div class="block description"></div>
<!--        <div class="block start-playing" {{action 'onStartPlaying'}}>
          <div class="arrow-left"></div><div class="button-body">
            СМОТРЕТЬ
            <div class="piechart-loader">
              <div class="wrapper">
                <div class="pie spinner"></div>
                <div class="pie filler"></div>
                <div class="mask"></div>
              </div>
            </div>
          </div><div class="arrow-right"></div>
        </div>-->
      </div>
    </div>
  </div>
</div>
