<div id="contentContainer">
  <div id="videoDescription" class="container">
    <div class="row header">
      <span class="name">{{playlist.name}}</span>
      <span class="timetotal">Время просмотра: {{minutes-string playlist.totalMinutes}}</span>
    </div>
    <div class="row content">
      <div class="summary col-8" style="padding: 0 5px">
        {{playlist.description}}
      </div>
      <div class="col-4" style="padding: 0 5px">
      {{#bs-carousel 
        nextControlIcon='fas fa-caret-right'
        prevControlIcon='fas fa-caret-left'
        currentIndex = currentVideoRangeIndex
        index = videoRangeIndex
        wrap=false
        autoPlay=false
        showIndicators=false
        as |car|}}
        {{#each playlist.videoRanges as |videoRange|}}
          {{#car.slide}}
            <div class="car-item">
              <img src={{videoRange.video.channel.logoUrl}} width="30">
              <div class="range-length"> {{minutes-string videoRange.minutes}}</div>
              {{#bs-progress as |p|}}
                {{p.bar value=videoRange.position minValue=videoRange.from maxValue=videoRange.to showLabel=false type="danger" striped=false animate=true}}
              {{/bs-progress}}
            </div>
          {{/car.slide}}
        {{/each}}
      {{/bs-carousel}}
      
      </div>
    </div>
  </div>
  <div id="containingBlock">
    <div class="videoWrapper">
      <div id="player"></div>
    </div>
  </div>
  <div id="navigation">
    {{#bs-button onClick=(action "nextPlaylist") type="primary"}}
      СЛЕДУЮЩЕЕ: Пропанагда на ТВ и в сети
      <span class="glyphicon glyphicon-play"></span>
    {{/bs-button}}
    <span class="glyphicon glyphicon-play"></span>
  </div>
</div>