<div id="previewContainer">

    <div id="logoContainer" >
      <div>
        <img src='{{rootURL}}assets/nplogo.png'/>
      </div>
      <div id="divider"></div>
    </div>

    <div id="citeContainer">
      <div class="cite">
        {{model.text}}
      </div>
      <div class="author">
        - {{model.author}}
      </div>
    </div>

    <div id="controlsContainer">
      <button {{action "goToVideos"}}>
        ДАЛЕЕ
      </button>
    </div>

</div>

<script>
//   function showContent(){
//       var dividerElement = document.getElementById("divider");
//       divider.style.width="0%";]
//       setTimeout(function(){
//         var topElement = document.getElementById("top_side");
//         var bottomElement = document.getElementById("bottom_side");
//         var contentElement = document.getElementById("contentContainer");
//         topElement.style.opacity=0;
//         bottomElement.style.opacity=0;
//         //contentElement.style.display="block";
//         setTimeout(function(){
//           topElement.remove();
//           bottomElement.remove();
//         },600);
//       }, 900);
//   }
</script>

<!--
<div id="bottom_side" style="display:none;position:absolute; left:0; z-index:100000;background-color: #000; top:45%; width: 100%; height:55%; transition: all 300ms linear;">
   <div style="width: 45px; margin: 0 auto;">
    <img src='{{rootURL}}assets/elie-wiesel.jpg' width="45px" />
  </div>
</div>
-->